.header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #417690;
  color: #ffc;
  overflow: hidden;
}

.header a {
  margin: 0 0.5rem;
}

.header a:link,
.header a:visited,
.logout-form button {
  color: #fff;
}

.header a:focus,
.header a:hover {
  text-decoration: underline;
}

.branding {
  display: flex;
}

.branding h1 {
  padding: 0;
  margin: 0;
  margin-inline-end: 20px;
  font-weight: 300;
  font-size: 1.5rem;
  color: #f5dd5d;
}

.branding h1 a:link,
.branding h1 a:visited {
  color: #f5dd5d;
}

.branding h2 {
  padding: 0 10px;
  font-size: 0.875rem;
  margin: -8px 0 8px 0;
  font-weight: normal;
  color: #ffc;
}

.branding a:hover {
  text-decoration: none;
}

.logout-form {
  display: inline;
}

.logout-form button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: Roboto sans-serif;
}

.page-link {
  float: right;
  margin: 0 0 0 20px;
  text-align: right;
}

.page-link,
.logout-form button {
  padding: 0;
  font-weight: 300;
  font-size: 0.6875rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.page-link a,
.logout-form button {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.page-link a:focus,
.page-link a:hover,
.logout-form button:active,
.logout-form button:hover {
  text-decoration: none;
  border-bottom: 0;
}

.logout-form button:active,
.logout-form button:hover {
  margin-bottom: 1px;
}